@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("../node_modules/bootstrap/scss/bootstrap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  height: 23vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#header #div-logo {
  margin-left: 50px;
  margin-top: 10px;
}
#header #div-logo .logo-header {
  height: 35px;
  width: 35px;
  border-radius: 10px;
}

#div-header-btn #nav-index {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 14px;
}
#div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid rgb(164, 249, 205);
  background-color: #e2efde;
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
#div-header-btn #nav-index .botones-header:hover {
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}

#div-h1-header {
  margin-top: 10px;
  border-radius: 10px;
}
#div-h1-header .h1-header {
  text-align: center;
  color: #FF9B54;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#footer {
  height: auto;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#footer #p-footer {
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.9);
}
#footer #div-logofooter {
  height: auto;
  text-align: center;
}
#footer #div-logofooter #logofooter {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  margin-top: 10px;
}
#footer #redes-index {
  height: auto;
}
#footer #redes-index #imgredes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

#index-main {
  height: auto;
  background-color: rgb(164, 249, 205);
}
#index-main .h2-index {
  font-size: 50px;
  margin-top: 20px 0 0 10px;
  grid-area: h2-index;
  text-align: center;
  color: #4F000B;
  font-family: "Rajdhani", sans-serif;
}
#index-main #div-img-nosotro {
  display: flex;
  height: 430px;
  width: auto;
}
#index-main .img-nosotros {
  width: 0;
  height: auto;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
#index-main .img-nosotros:hover {
  width: 200px;
}

.secindex {
  font-size: 15px;
  font-family: cursive;
}
.secindex article .p-index {
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
}

#div-video-index {
  text-align: center;
  width: 100%;
}
#div-video-index #videosindex2 {
  width: 90%;
  border-radius: 10px;
  margin: 20px 0px 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  object-fit: cover;
}

.img-nosotros2 {
  display: flex;
  width: auto;
  height: 300px;
}
.img-nosotros2 #img-nosotro2 {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
.img-nosotros2 #img-nosotro2:hover {
  width: 200px;
}

.main-contacto {
  display: grid;
  grid-template-areas: "aside form" "aside form";
  justify-content: space-around;
  align-items: baseline;
  height: 75vh;
  background-color: rgb(164, 249, 205);
}
.main-contacto .aside-form {
  height: 400px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-contacto .aside-form .logos-contacto {
  height: 60px;
  width: 60px;
}
.main-contacto #formulario {
  grid-area: form;
  align-items: center;
}
.main-contacto #formulario .caja-nombre {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
.main-contacto #formulario .caja-mail {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
.main-contacto #formulario .caja-mensaje {
  margin: 5px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.main-contacto #formulario .div-btn-envia {
  margin-top: 25px;
  height: 5vh;
}
.main-contacto #formulario .div-btn-envia .btn-envia1 {
  background-color: rgba(0, 0, 0, 0.048);
  color: black;
}

main .h3 {
  text-align: center;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
main .div-img-herramientas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
main .div-img-herramientas .img-herramienta {
  border-radius: 8px;
  width: 90%;
  height: auto;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  object-fit: cover;
}
main .p1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main #div-img-herramientas2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: stretch;
  justify-items: center;
}
main #div-img-herramientas2 .img-herramienta2 {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  object-fit: cover;
}
main #div-img-herramientas2 .img-herramienta2:hover {
  width: 220px;
}
main #sec-herramientas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main #sec-herramientas .p1 {
  font-family: "Montserrat", sans-serif;
}
main #sec-herramientas .p2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container-fluid {
  height: 30vh;
}
.container-fluid .h1-proyecto {
  text-align: center;
  color: #FF9B54;
  font-family: "Rajdhani", sans-serif;
}
.container-fluid .navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  background-color: black;
  border: var(--bs-border-width) solid rgb(164, 249, 205);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

#trabajos-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
  overflow-x: hidden;
}
#trabajos-main .h2-trabajos {
  text-align: center;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
#trabajos-main .p-trabajos {
  font-size: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
#trabajos-main #img-heladas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: stretch;
}
#trabajos-main #img-heladas .img-helada {
  height: auto;
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  border-radius: 8px;
  object-fit: cover;
  transition: 0.5s ease;
}
#trabajos-main #img-heladas .img-helada :hover {
  height: 100px;
}
#trabajos-main #div-raleo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: center;
}
#trabajos-main #div-raleo .img-raleo {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  height: auto;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
#trabajos-main #img-poda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: stretch;
}
#trabajos-main #img-poda .img-poda {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
#trabajos-main #img-cosecha {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: stretch;
}
#trabajos-main #img-cosecha .img-cosecha {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
#trabajos-main .otros-trabajo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
#trabajos-main #img-otros-trabajos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  align-items: stretch;
}
#trabajos-main #img-otros-trabajos .img-otros-trabajos {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  height: auto;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

#footer {
  height: auto;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
#footer #p-footer {
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.9);
}
#footer #div-logofooter {
  height: auto;
  text-align: center;
}
#footer #div-logofooter .logofooter {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  margin-top: 10px;
}
#footer #redes-index {
  height: auto;
}
#footer #redes-index .imgredes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

/* @media queris */
@media (max-width: 1024px) {
  #header {
    height: 26vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #div-logo {
    order: 1;
  }
  #div-header-btn {
    order: 3;
    margin-bottom: 15px;
  }
  #div-h1-header {
    order: 2;
  }
}
@media (min-width: 375px) and (max-width: 653px) {
  /* index */
  #header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #div-logo {
    text-align: start;
  }
}
#div-logo {
  order: 1;
}

#div-header-btn {
  order: 3;
  text-align: center;
  margin-right: 10px;
}

#div-h1-header {
  margin-right: 15px;
  order: 2;
}

#foter {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-logofooter {
  order: 2;
}

#p-footer {
  order: 3;
}

#redes-index {
  order: 1;
}

/* proyectos */
/* contacto */
#div-h1-header {
  text-align: center;
  grid-row: 2/3;
  grid-column: 1/3;
}

.aside-form {
  flex-direction: row;
}

/* trabajos */
/* herramientas */
.div-img-herramientas {
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
