@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  height: 20vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#header #div-logo {
  margin-left: 50px;
  margin-top: 10px;
}
#header #div-logo .logo-header {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

#div-header-btn #nav-index {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 10px;
}
#div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid rgb(164, 249, 205);
  background-color: #e2efde;
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
#div-header-btn #nav-index .botones-header:hover {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}

#div-h1-header {
  margin-top: 10px;
  border-radius: 10px;
}
#div-h1-header .h1-header {
  text-align: center;
  color: #FF9B54;
  font-size: 22px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#index-main {
  height: auto;
  background-color: rgb(164, 249, 205);
}
#index-main .h2-index {
  font-size: 50px;
  margin-top: 20px 0 0 10px;
  grid-area: h2-index;
  text-align: center;
  color: #4F000B;
  font-family: "Rajdhani", sans-serif;
}
#index-main #div-imgnosotros {
  display: flex;
  width: auto;
  height: 430px;
}
#index-main #div-imgnosotros .img-nosotro {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 0px;
  height: 400px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
#index-main #div-imgnosotros .img-nosotro:hover {
  width: 100px;
}

.sec-index {
  font-size: 15px;
  font-family: cursive;
}
.sec-index article .p-index {
  font-family: "Montserrat", sans-serif;
  color: black;
}

#div-video-index {
  text-align: center;
}
#div-video-index #videos-index2 {
  height: 70%;
  width: 70%;
  border-radius: 10px;
  margin: 20px 0px 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  object-fit: cover;
}

.img-nosotros2 {
  display: flex;
  width: auto;
  height: 300px;
}
.img-nosotros2 #img-nosotro2 {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
.img-nosotros2 #img-nosotro2:hover {
  width: 200px;
}

#footer {
  height: auto;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer #p-footer {
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.6);
}
#footer #div-logofooter {
  text-align: center;
}
#footer #div-logofooter #logofooter {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 10px;
}
#footer #redes-index #imgredes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.header {
  height: 30vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  grid-template-columns: 0.3fr repeat(1, 0.6fr) 0.5fr;
  grid-template-areas: ". . botones" ". h1 ." "logo . .";
  align-items: center;
}
.header #div-logo {
  grid-area: logo;
  text-align: center;
}
.header #div-logo .logoheader {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.header #div-header-btn {
  grid-area: botones;
  text-align: right;
  grid-template-columns: auto auto;
  margin-right: 20px;
  text-align: center;
}
.header #div-header-btn #nav-index {
  font-size: 10px;
}
.header #div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid #e2efde;
  background-color: rgb(164, 249, 205);
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
.header #div-header-btn #nav-index .botones-header:hover {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}
.header #div-h1-header {
  grid-area: h1;
  text-align: center;
  border-radius: 10px;
}
.header #div-h1-header .h1-header {
  color: #FF9B54;
  font-size: 25px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.main-contacto {
  display: flex;
  height: 75vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
.main-contacto .aside-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.main-contacto #formulario {
  align-items: center;
  height: 45vh;
  margin-top: 20px;
}
.main-contacto #formulario .caja-nombre {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
.main-contacto #formulario .caja-mail {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
.main-contacto #formulario .caja-mensaje {
  margin: 5px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.main-contacto #formulario .div-btn-envia {
  margin-top: 25px;
  height: 5vh;
}
.main-contacto #formulario .div-btn-envia .btn-envia1 {
  background-color: rgba(0, 0, 0, 0.048);
  color: black;
}

#footer {
  height: auto;
  height: auto;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer #p-footer {
  grid-column: 2/3;
  grid-row: 0.5fr;
  margin-top: 30px;
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.6);
}
#footer #div-logofooter {
  text-align: center;
}
#footer .logofooter {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

#redes-index .imgredes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.header {
  height: 30vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  grid-template-columns: 0.3fr repeat(1, 0.6fr) 0.5fr;
  grid-template-areas: ". . botones" ". h1 ." "logo . .";
  align-items: center;
}
.header #div-logo {
  grid-area: logo;
  text-align: center;
}
.header #div-logo .logoheader {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.header #div-header-btn {
  grid-area: botones;
  text-align: right;
  grid-template-columns: auto auto;
  margin-right: 20px;
  text-align: center;
}
.header #div-header-btn #nav-index {
  font-size: 10px;
}
.header #div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid #e2efde;
  background-color: #e2efde;
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
.header #div-header-btn #nav-index .botones-header:hover {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}
.header #div-h1-header {
  grid-area: h1;
  text-align: center;
  border-radius: 10px;
}
.header #div-h1-header .h1-header {
  color: #FF9B54;
  font-size: 25px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

main .h3 {
  text-align: center;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
main .div-img-herramientas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .div-img-herramientas .img-herramientas {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  margin: 15px;
  margin-left: 75px;
  align-items: baseline;
}
main .p1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
main #div-img-herramientas2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
main #div-img-herramientas2 .img-herramientas2 {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  margin: 10px;
}
main #sec-herramientas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
main #sec-herramientas .p1 {
  font-family: "Montserrat", sans-serif;
}
main #sec-herramientas .p2 {
  font-family: "Montserrat", sans-serif;
}

#footer {
  height: 25vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer #p-footer {
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.6);
}
#footer #div-logofooter {
  text-align: center;
}
#footer #div-logofooter .logo-footer {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-top: 10px;
}
#footer #redes-index .img-redes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.container-fluid {
  height: 30vh;
  background-size: cover;
  background-position: 0%;
}
.container-fluid .display-1 {
  font-size: 2rem;
  color: #FF9B54;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}
.main-proyectos .div-video-proyectos {
  grid-row: 3/4;
  grid-column: 1/4;
  text-align: center;
}
.main-proyectos .div-video-proyectos .video-proyectos {
  height: 70%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
  margin: 15px;
}
.main-proyectos .sec-proyectos {
  grid-row: 2/3;
  grid-column: 1/4;
  margin-top: 15px;
  width: auto;
}
.main-proyectos .div-img-proyectos {
  grid-row: 1/2;
  grid-column: 1/4;
}
.main-proyectos .div-img-proyectos .img-proyectos {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
  margin: 15px;
}
.main-proyectos .div-img-proyectos2 {
  grid-row: 4/5;
  grid-column: 1/4;
}
.main-proyectos .img-proyectos {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
  margin: 15px;
}

#footer {
  height: auto;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer #p-footer {
  margin-top: 30px;
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.6);
}
#footer #div-logofooter {
  text-align: center;
}
#footer #div-logofooter .logo-footer {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 10px;
}
#footer #redes-index .img-redes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.header {
  height: 30vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: grid;
  grid-template-rows: repeat(3, 0.5fr);
  grid-template-columns: 0.3fr repeat(1, 0.6fr) 0.5fr;
  grid-template-areas: ". . botones" ". h1 ." "logo . .";
  align-items: center;
}
.header #div-logo {
  grid-area: logo;
  text-align: center;
}
.header #div-logo .logoheader {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.header #div-header-btn {
  grid-area: botones;
  text-align: right;
  grid-template-columns: auto auto;
  margin-right: 20px;
  text-align: center;
}
.header #div-header-btn #nav-index {
  font-size: 10px;
}
.header #div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid #e2efde;
  background-color: #e2efde;
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
.header #div-header-btn #nav-index .botones-header:hover {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}
.header #div-h1-header {
  grid-area: h1;
  text-align: center;
  border-radius: 10px;
}
.header #div-h1-header .h1-header {
  color: #FF9B54;
  font-size: 25px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#trabajos-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
#trabajos-main .h2-trabajos {
  text-align: center;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
#trabajos-main #img-heladas {
  text-align: center;
  width: 100%;
  height: 100%;
}
#trabajos-main #img-heladas .img-heladas {
  box-shadow: 5px 5px 5px 5px rgba(243, 4, 4, 0.7);
  height: 20%;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
}
#trabajos-main #div-raleo {
  text-align: center;
  width: 100%;
  height: 100%;
}
#trabajos-main #div-raleo .img-raleo {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  height: 20%;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
}
#trabajos-main #img-poda {
  text-align: center;
  width: 100%;
  height: 100%;
}
#trabajos-main #img-poda .img-poda {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 20%;
  height: 20%;
  border-radius: 10px;
  margin: 10px;
}
#trabajos-main #img-cosecha {
  text-align: center;
  width: 100%;
  height: 100%;
}
#trabajos-main #img-cosecha .img-cosecha {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  width: 20%;
  height: 20%;
  border-radius: 10px;
  margin: 10px;
}
#trabajos-main #img-otros-trabajos {
  text-align: center;
  width: 100%;
  height: 100%;
}
#trabajos-main #img-otros-trabajos .img-otros-trabajos {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);
  height: 20%;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
}

#footer {
  height: 25vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer #p-footer {
  margin-top: 30px;
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.6);
}
#footer #div-logofooter {
  text-align: center;
}
#footer #div-logofooter .logofooter {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin-top: 10px;
}
#footer #redes-index .imgredes {
  margin: 10px;
  height: 35px;
  width: 35px;
}

/* @media queris */
@media (max-width: 1024px) {
  #header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #div-logo {
    order: 1;
  }
  #div-header-btn {
    order: 3;
    margin-bottom: 15px;
  }
  #div-h1-header {
    order: 2;
  }
  .img-nosotros {
    margin: 5px;
  }
}
@media (min-width: 375px) and (max-width: 653px) {
  /* index */
  #header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #div-logo {
    text-align: start;
  }
}
#div-logo {
  order: 1;
}

#div-header-btn {
  order: 3;
  text-align: center;
  margin-right: 10px;
}

#div-h1-header {
  margin-right: 15px;
  order: 2;
}

#img-nosotros2 {
  display: flex;
  height: auto;
  width: auto;
}

.img-nosotros {
  width: auto;
  height: 40vh;
}

#videos-index2 {
  width: 100%;
  height: 100%;
}

footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-logofooter {
  height: 50%;
  width: 50%;
  order: 2;
}

.logo-footer {
  width: 50px;
  height: 50px;
}

#p-footer {
  order: 3;
}

#redes-index {
  order: 1;
}

/* proyectos */
/* contacto */
#div-h1-header {
  text-align: center;
  grid-row: 2/3;
  grid-column: 1/3;
}

/* trabajos */
#img-otros-trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* herramientas */
.div-img-herramientas {
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
