@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import url("../node_modules/bootstrap/scss/bootstrap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  height: 23vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#header #div-logo {
  margin-left: 50px;
  margin-top: 10px;
}
#header #div-logo .logo-header {
  height: 35px;
  width: 35px;
  border-radius: 8px;
}

#div-header-btn #nav-index {
  margin: 20px 15px 0 0;
  font-size: 14px;
}
#div-header-btn #nav-index .botones-header {
  text-decoration: none;
  padding: 5px;
  border: 0.1cm solid rgb(164, 249, 205);
  background-color: #e2efde;
  border-radius: 25px;
  color: black;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 11px;
}
#div-header-btn #nav-index .botones-header:hover {
  background-color: rgba(0, 0, 0, 0.218);
  color: beige;
}

#div-h1-header {
  margin-top: 10px;
  border-radius: 10px;
}
#div-h1-header .h1-header {
  text-align: center;
  color: #FF9B54;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#index-main {
  height: auto;
  background-color: rgb(164, 249, 205);
}
#index-main .h2-index {
  font-size: 50px;
  grid-area: h2-index;
  text-align: center;
  color: #4F000B;
  font-family: "Rajdhani", sans-serif;
}
#index-main #div-img-nosotro {
  display: flex;
  height: 330px;
  width: auto;
}
#index-main .img-nosotros {
  width: 0;
  height: 330px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
#index-main .img-nosotros:hover {
  width: 150px;
}
#index-main .secindex article .p-index {
  margin: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}
#index-main #div-video-index {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  height: auto;
}
#index-main #div-video-index #videosindex2 {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  object-fit: cover;
}
#index-main .img-nosotros2 {
  display: flex;
  height: 330px;
  width: auto;
}
#index-main .img-nosotros2 #img-nosotro2 {
  width: 0;
  height: 330px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}
#index-main .img-nosotros2 #img-nosotro2:hover {
  width: 150px;
}

.main-contacto {
  height: auto;
  display: grid;
  grid-template-areas: "aside form" "aside form" ". ." ". .";
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background-color: rgb(164, 249, 205);
}
.main-contacto .aside-form {
  grid-area: aside;
  padding: 20px;
}
.main-contacto .aside-form .logos-contacto {
  height: 50px;
  width: 50px;
}
.main-contacto .aside-form a {
  text-decoration: none;
  color: black;
}
.main-contacto #formulario {
  height: auto;
  grid-area: form;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.main-contacto #formulario .caja-nombre {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.main-contacto #formulario .caja-mail {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.main-contacto #formulario .caja-mensaje {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.main-contacto #formulario .div-btn-envia {
  text-align: center;
}
.main-contacto #formulario .div-btn-envia .btn-envia1 {
  background-color: rgba(0, 0, 0, 0.048);
  color: black;
}

main {
  background-color: rgb(164, 249, 205);
}
main .h3 {
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
main .div-img-herramientas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
  margin-top: 15px;
}
main .div-img-herramientas .img-herramienta {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
}
main .p1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main #div-img-herramientas2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
  margin-top: 15px;
}
main #div-img-herramientas2 .img-herramienta2 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
}
main #sec-herramientas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #sec-herramientas .p1 {
  font-family: "Montserrat", sans-serif;
}
main #sec-herramientas .p2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.main-proyectos {
  background-color: rgb(164, 249, 205);
}
.main-proyectos .div-video-proyectos {
  width: 100%;
  height: auto;
  text-align: center;
}
.main-proyectos .div-video-proyectos .video-proyectos {
  text-align: center;
  width: 340px;
  height: 340px;
  border-radius: 8px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  object-fit: cover;
}
.main-proyectos .sec-proyectos {
  text-align: center;
}
.main-proyectos .sec-proyectos p {
  font-family: "Montserrat", sans-serif;
}
.main-proyectos .div-img-proyectos {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
.main-proyectos .div-img-proyectos .img-proyectos {
  height: auto;
  width: 100%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  border-radius: 8px;
  object-fit: cover;
}
.main-proyectos .div-img-proyectos2 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
.main-proyectos .div-img-proyectos2 .img-proyecto {
  height: auto;
  width: 100%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  border-radius: 8px;
  object-fit: cover;
}

#trabajos-main {
  text-align: center;
  overflow-x: hidden;
}
#trabajos-main .h2-trabajos {
  text-align: center;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
#trabajos-main .p-trabajos {
  font-size: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
#trabajos-main #img-heladas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
#trabajos-main #img-heladas .img-helada {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  margin-top: 15px;
}
#trabajos-main #div-raleo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
#trabajos-main #div-raleo .img-raleo {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 15px;
}
#trabajos-main #img-poda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
#trabajos-main #img-poda .img-poda {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 15px;
}
#trabajos-main #img-cosecha {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
#trabajos-main #img-cosecha .img-cosecha {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  margin-top: 15px;
}
#trabajos-main .otros-trabajo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #4F000B;
}
#trabajos-main #img-otros-trabajos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: stretch;
}
#trabajos-main #img-otros-trabajos .img-otros-trabajos {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5), -5px -5px 25px black;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 15px;
}

#footer {
  height: 23vh;
  background-image: url(../assets/imagenes/encabezado\ header.jpeg);
  background-size: cover;
  background-position: 0, 2vh;
  display: grid;
  grid-template-areas: "redes . ." ". . logo" ". texto .";
}
#footer #p-footer {
  grid-area: texto;
  height: 5vh;
  border-radius: 8px;
}
#footer #p-footer .p-index-footer {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #FF9B54;
  background-color: rgba(0, 0, 0, 0.9);
}
#footer #div-logofooter {
  height: auto;
  text-align: center;
  grid-area: logo;
}
#footer #div-logofooter #logofooter {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  margin-top: 10px;
}
#footer #redes-index {
  grid-area: redes;
  height: 50px;
}
#footer #redes-index #imgredes {
  margin: 10px;
  height: 30px;
  width: 30px;
}

/* @media queris */
@media (max-width: 1024px) {
  #header {
    height: 26vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #div-logo {
    order: 1;
  }
  #div-header-btn {
    order: 3;
    margin-bottom: 15px;
  }
  #div-h1-header {
    order: 2;
  }
}
@media (min-width: 375px) and (max-width: 653px) {
  /* index */
  #header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #div-logo {
    text-align: start;
  }
}
#div-logo {
  order: 1;
}

#div-header-btn {
  order: 3;
  text-align: center;
}

#div-h1-header {
  margin-right: 15px;
  order: 2;
}

#div-img-nosotro {
  height: 250px;
}

#footer {
  grid-template-areas: "redes" "logo" "texto";
  justify-items: center;
}

/* proyectos */
/* contacto */
.main-contacto {
  grid-template-areas: "form" "form" "aside" "aside";
}

/* trabajos */
/* herramientas */
.div-img-herramientas {
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
