.main-contacto {display: grid;
    grid-template-areas:
    "aside form"
    "aside form";
    justify-content: space-around;
    align-items: baseline;
    height: 75vh;
    background-color: $color-body;
    .aside-form {height: 400px;
       grid-area: aside;
       display: flex;
       flex-direction: column;
       justify-content:space-around;
       .logos-contacto {
        height: 60px;
        width: 60px;
       }
       
        
    }
    #formulario { 
        grid-area: form;
        align-items: center;
        .caja-nombre { font-size: 15px;
            font-family: $fuente-parrafos;
            margin: 5px;
        }
        .caja-mail { font-size: 15px;
            font-family: $fuente-parrafos;
            margin: 5px;
        }
        .caja-mensaje { margin: 5px;
            font-size: 15px;
            font-family: $fuente-parrafos;
        }
        .div-btn-envia { margin-top: 25px;
            height: 5vh;
            .btn-envia1 { background-color: rgba(0, 0, 0, 0.048);
                color:black;
            }
        }
    }
}
