.header { height: 30vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,5vh;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns: 0.3fr repeat(1, 0.6fr) 0.5fr;
    grid-template-areas: 
    ". . botones"
    ". h1 ."
    "logo . .";
    align-items: center;
    #div-logo { grid-area: logo;
        text-align: center;
        .logoheader {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-bottom: 10px;
        }
    }
    #div-header-btn { grid-area: botones;
        text-align: right;
        grid-template-columns: auto auto;
        margin-right: 20px;
        text-align: center;
        #nav-index { font-size: 10px;
            .botones-header {text-decoration: none;
                padding: 5px;
                border: 0.1cm solid $color-botones;
                background-color: $color-botones;
                border-radius: 25px;
                color: black;
                font-family: 'Arial Narrow Bold', sans-serif;
                font-size: 11px;
                &:hover {
                    font-size: 1rem;
                    background-color: rgba(0, 0, 0, 0.218);
                    color: beige;
                }
            }
        }
    }
    #div-h1-header { grid-area: h1;
        text-align: center;
        border-radius: 10px;
        .h1-header { color: $color-textos;
        font-size: 25px;
        font-family: $fuente-titulos;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        }
    }
}
main {
    .h3 {
        text-align: center;
        font-size: 38px;
        font-family: $fuente-parrafos;
        color: #4F000B;
    }
    .div-img-herramientas { display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .img-herramientas { width: 20%;
        height: 20%;
        border-radius: 10px;
        box-shadow: $box-s;  
        margin: 15px;
        margin-left: 75px;
        align-items: baseline;
        }
    }
    .p1 {margin-top: 10px;
        margin-bottom: 10px;
        font-family:
        $fuente-parrafos;
    }
    #div-img-herramientas2 { 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly; 
        .img-herramientas2 { width: 20%;
            height: 20%;
            border-radius: 10px;
            box-shadow: $box-s;
            margin: 10px;
        }
    }
    #sec-herramientas { display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .p1 { font-family: $fuente-parrafos;
        }
        .p2 { font-family: $fuente-parrafos;
        }
    }
}
footer { height: 25vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    justify-content: space-evenly;
    #p-footer { grid-column: 2 / 3;
        grid-row: 0.5fr;
        margin-top: 30px;
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { font-size: 15px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    #div-logofooter { grid-column: 1 / 2;
        grid-row: 1 / 3;
        height: 100%;
        width: 100%;
        .logo-footer { height: 80px;
            width: 80px;
            border-radius: 30px;
            margin-top: 10px;
        }
    }
    #redes-index { margin: 5px;
        grid-column: auto;
        grid-row: auto;
        .img-redes { margin-top: 20px;
            height: 35px;
            width: 35px;
        }
    }
}