main {
    .h3 {
        text-align: center;
        font-size: 38px;
        font-family: $fuente-parrafos;
        color: #4F000B;
    }
    .div-img-herramientas {
        display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px, 1fr));
        gap: 16px;
        justify-items: center;
        align-items: stretch;
        .img-herramienta { border-radius: 8px;
            width: 90%;
            height: auto;
            box-shadow: $box-s;
            object-fit: cover;
        }
    }
    .p1 {text-align: center;
        font-family:
        $fuente-parrafos;
    }
    #div-img-herramientas2 { 
        display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px, 1fr));
        gap: 16px;
        align-items: stretch;
        justify-items: center;
        .img-herramienta2 { 
            width: 90%;
            height: auto;
            border-radius: 8px;
            box-shadow: $box-s;
            object-fit: cover;
            &:hover {
                width: 220px;
            }
        }
    }
    #sec-herramientas { display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .p1 { font-family: $fuente-parrafos;
        }
        .p2 { font-family: $fuente-parrafos;
            text-align: center;
        }
    }
}
