#index-main { height: auto;
    background-color: $color-body;
    ;
    .h2-index { font-size: 50px;
        margin-top: 20px 0 0 10px;
        grid-area: h2-index;
        text-align: center;
        color: #4F000B;
        font-family: $fuente-titulos;
    }
    #div-img-nosotro {
        display: flex;
        height:430px;
        width: auto;
    }
        .img-nosotros {
           width: 0;
           height: auto;
           flex-grow: 1;
           object-fit: cover;
           transition: 0.5s ease;

           &:hover{
            width: 200px;

           }

        }
        
    }
    .secindex {
        font-size: 15px;
        font-family: cursive;
        article {
            .p-index {margin: 5px; 
                font-family: $fuente-parrafos;
                    color: black;
                    font-size: 20px;
            }
        }
    }
    #div-video-index {
        text-align: center;
        width: 100%;
        #videosindex2 { 
            width: 90%;
            border-radius: 10px;
            margin: 20px 0px 20px;
            box-shadow: $box-s;
            object-fit: cover;
        }
    }
    .img-nosotros2 {
        display: flex;
        width: auto;
        height: 300px;
        #img-nosotro2 { 
            border-radius: 10px;
            box-shadow: $box-s; 
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            transition: .5s ease;
            &:hover {
                width: 200px;
            }
    
        }
    } 
