#header { height: 20vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    #div-logo { margin-left: 50px;
        margin-top: 10px;
        .logo-header {
            height: 50px;
            width: 50px;
            border-radius: 10px;
        }
        }
    }
    #div-header-btn {
        #nav-index {margin-top: 20px;
            margin-right: 10px; 
            font-size: 10px;
            .botones-header{
                text-decoration: none;
                padding: 5px;
                border: 0.1cm solid $color-body;
                background-color: $color-botones;
                border-radius: 25px;
                color: black;
                font-family: 'Arial Narrow Bold', sans-serif;
                font-size: 11px;
                &:hover {
                    font-size: 1rem;
                    background-color: rgba(0, 0, 0, 0.218);
                    color: beige;
                }
            }
        }
    }
    #div-h1-header {
        margin-top: 10px;
        border-radius: 10px;
        .h1-header { text-align: center;
        color: $color-textos;
        font-size: 22px;
        font-family: $fuente-titulos;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        }
    }
#index-main { height: auto;
    background-color: $color-body;
    ;
    .h2-index { font-size: 50px;
        margin-top: 20px 0 0 10px;
        grid-area: h2-index;
        text-align: center;
        color: #4F000B;
        font-family: $fuente-titulos;
    }
    #div-imgnosotros {
        display: flex;
        width: auto;
        height: 430px;

        .img-nosotro {
            border-radius: 10px;
            box-shadow: $box-s; 
            width: 0px;
            height: 400px;
            flex-grow: 1;
            object-fit: cover;
        transition: .5s ease;
            &:hover {
                width: 100px;
            }

        }
        }
        
    }
    .sec-index {
        font-size: 15px;
        font-family: cursive;
        article {
            .p-index { font-family: $fuente-parrafos;
                    color: black;
            }
        }
    }
    #div-video-index {
        text-align: center;
        #videos-index2 { height: 70%;
            width: 70%;
            border-radius: 10px;
            margin: 20px 0px 20px;
            box-shadow: $box-s;
            object-fit: cover;
        }
    }
    .img-nosotros2 {
        display: flex;
        width: auto;
        height: 300px;
        #img-nosotro2 { 
            border-radius: 10px;
            box-shadow: $box-s; 
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            transition: .5s ease;
            &:hover {
                width: 200px;
            }
    
        }
    } 
#footer { height: auto;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    #p-footer { 
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { font-size: 15px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    #div-logofooter { 
       text-align: center;
        #logofooter { height: 50px;
            width: 50px;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    #redes-index {
        
        #imgredes {
            margin: 10px;
            height: 30px;
            width: 30px;
        }
    }
}
