/* @media queris */
@media (max-width:1024px){
    .header { height: auto;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-around;
       }
       #div-logo {
        margin-top: 30px;
        order: 1;
       }
       }
       #div-header-btn {
            order: 3;
           text-align: center;
       }
       #div-h1-header {
           order: 2;
       }
   
       #div-img-nosotros {
           width: 100%;
           grid-area: div-img-index;
           text-align: center;
       }
       .img-nosotros {
           margin: 5px;
       }
   @media (min-width: 375px) and (max-width: 653px) {
       /* index */
       .header { height: auto;
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           justify-content: center;
       }
       #div-logo {
        height: 10px;
        width: 10px;
        margin-top: 20px;
       }
       #div-img-nosotros {
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
           align-items: center;
       }
       #img-nosotros2 {
           height: auto;
           width: auto;
       }
       .img-nosotros {
           width: auto;
           height: 40vh;
   
       }
       .video-nosotros {
           width: auto;
       }
       .video-index2 {
           width: 90%;
           height: 90%;
   
       }
       
       footer {height: auto;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       #div-logofooter {
        height: 50%;
        width: 50%;
        order: 2;
       }
       .logo-footer {
        width: 50px;
        height: 50px;
        }
        #p-footer {
            order: 3;
        }
        #redes-index {
            order: 1;
        }

       
       
       
       /* proyectos */
       /* contacto */
       #div-h1-header {
           text-align: center;
           grid-row: 2 / 3;
           grid-column: 1 / 3;
       }
       /* trabajos */
       #img-otros-trabajos {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
       /* herramientas */
       .div-img-herramientas {
           margin-right: 50px;
       }
}
   @media (max-width:600px){
    .header { height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #div-logo {
        text-align: center;
     order: 1;
    }
    }
    #div-header-btn {
         order: 3;
        text-align: center;
       
    }
    #div-h1-header {
        order: 2;
    }
   @media (max-width:480px){
   
   }
   @media (max-width:320px){
   
   }