/* @media queris */
@media (max-width:1024px){
    #header {height: 26vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #div-logo {
        order: 1;
    }
    #div-header-btn {
        order: 3;
        margin-bottom: 15px;
    }
    #div-h1-header {
            order: 2;
    }

    }
   
   @media (min-width: 375px) and (max-width: 653px) {
       /* index */
       #header {
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
       }
       #div-logo {text-align: start;

       }
    }
    #div-logo {
     order: 1;
    }
    #div-header-btn {
         order: 3;
        text-align: center;
        margin-right: 10px;
       
    }
    #div-h1-header {
        margin-right: 15px;
        order: 2;
    }
    
    #foter {height: auto;
           display: flex;
           flex-direction:column;
           align-items: center;
       }
       #div-logofooter {
        order: 2;
       }
        #p-footer {
            order: 3;
        }
        #redes-index {
            order: 1;
        }
        /* proyectos */
        
       /* contacto */
       #div-h1-header {
           text-align: center;
           grid-row: 2 / 3;
           grid-column: 1 / 3;
       }
       .aside-form {
        flex-direction: row;
       }
   
       /* trabajos */
       
       
       /* herramientas */
       .div-img-herramientas {
           margin-right: 50px;
       }
   @media (max-width:600px){

   }
  
   @media (max-width:480px){
   
   }
   @media (max-width:320px){
   
   }