/* @media queris */
@media (max-width:1024px){
    .header { 
           grid-template-rows: repeat(3, 0.5fr);
           grid-template-columns: 0.3fr repeat(1, 0.6fr);
           grid-template-areas: 
           "logo h1 "
           "logo h1"
           "logo botones";
       }
       #div-header-btn {
           grid-column: 1 / 3;
           text-align: center;
       }
       #div-logo {
           grid-row: 1 / 1;
           text-align: center;
       }
       #div-h1-header {
           grid-row: 2 / 3;
           grid-column: 1 / 3;
       }
   
       #div-img-nosotros {
           width: 100%;
           grid-area: div-img-index;
           text-align: center;
       }
       .img-nosotros {
           margin: 5px;
       }
   }
   @media (min-width: 375px) and (max-width: 653px) {
       /* index */
       .header { 
           grid-template-rows: auto auto auto;
           grid-template-columns: auto;
           grid-template-areas: 
           "h1"
           "logo"
           "botones";
       }
       #div-header-btn {
           text-align: center;
       }
       .logoheader {
           margin-top: 10px;
           height: 75px;
           width: 75px;
       }
       .h1-header {
           background-color: rgba(0, 0, 0, 0.7);
       }
       .botones-header {
           font-size: 12px;
       }
       #div-img-nosotros {
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
           align-items: center;
       }
       #img-nosotros2 {
           height: auto;
           width: auto;
       }
       .img-nosotros {
           width: auto;
           height: 40vh;
   
       }
       .video-nosotros {
           width: auto;
       }
       .video-index2 {
           width: 90%;
           height: 90%;
   
       }
       
       footer {height: auto;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       #div-logofooter {
        height: 50%;
        width: 50%;
       }
       .logo-footer {
        width: 110px;
        height: 11px;
        }

       
       
       
       /* proyectos */
       /* contacto */
       #div-h1-header {
           text-align: center;
           grid-row: 2 / 3;
           grid-column: 1 / 3;
       }
       /* trabajos */
       #img-otros-trabajos {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
       /* herramientas */
       .div-img-herramientas {
           margin-right: 50px;
       }
   
   
      
       
     
   }
   @media (max-width:600px){
   
   }
   @media (max-width:480px){
   
   }
   @media (max-width:320px){
   
   }