.container-fluid { height: 30vh;
    background-size: cover;
    background-position: 0%;
    .display-1 { font-size: 2rem;
        color: $color-textos;
        font-family: $fuente-titulos;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.main-proyectos { display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    .div-video-proyectos { grid-row: 3 / 4;
        grid-column: 1 / 4;
        text-align: center;
        .video-proyectos { height: 70%;
            width: 70%;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212); 
            margin: 15px;
        }
    }
    .sec-proyectos { grid-row: 2 / 3;
        grid-column: 1 / 4 ;
        margin-top: 15px;
        width: auto;
    }
    .div-img-proyectos { grid-row: 1 / 2;
        grid-column: 1 / 4;
        .img-proyectos { width: 20%;
            height: 20%;
            border-radius: 10px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);  
            margin: 15px;
        }
    }
    .div-img-proyectos2 {grid-row: 4 / 5;
        grid-column: 1 / 4;
    }
    .img-proyectos {width: 20%;
        height: 20%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);  
        margin: 15px;

    }
}

#footer { height: auto;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #p-footer {
        margin-top: 30px;
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { font-size: 15px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    #div-logofooter {
        text-align: center;
        .logo-footer { height: 50px;
            width: 50px;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    #redes-index {
        .img-redes { 
            margin: 10px;
            height: 30px;
            width: 30px;
        }
    }
}

