.container-fluid {
   height: 30vh;
    .h1-proyecto {
        text-align: center;
        color: $color-textos;
        font-family: $fuente-titulos;
    }
    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        background-color: black;
        border: var(--bs-border-width) solid $color-body;
        border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition);
    }
   
    }
