.header { height: 30vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,5vh;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns: 0.3fr repeat(1, 0.6fr) 0.5fr;
    grid-template-areas: 
    ". . botones"
    ". h1 ."
    "logo . .";
    align-items: center;
    #div-logo { grid-area: logo;
        text-align: center;
        .logoheader {
            height: 80px;
            width: 80px;
            border-radius: 20px;
            margin-bottom: 10px;
        }
    }
    #div-header-btn { grid-area: botones;
        text-align: right;
        grid-template-columns: auto auto;
        margin-right: 20px;
        text-align: center;
        #nav-index { font-size: 10px;
            .botones-header {text-decoration: none;
                padding: 5px;
                border: 0.1cm solid $color-botones;
                background-color: $color-botones;
                border-radius: 25px;
                color: black;
                font-family: 'Arial Narrow Bold', sans-serif;
                font-size: 11px;
                &:hover {
                    font-size: 1rem;
                    background-color: rgba(0, 0, 0, 0.218);
                    color: beige;
                }
            }
        }
    }
    #div-h1-header { grid-area: h1;
        text-align: center;
        border-radius: 10px;
        .h1-header { color: $color-textos;
        font-size: 25px;
        font-family: $fuente-titulos;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        }
    }
}
#trabajos-main { display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    .h2-trabajos { text-align: center;
        font-size: 38px;
        font-family: $fuente-parrafos;
        color: #4F000B;
    }
    #img-heladas { text-align: center;
        width: 100%;
        height: 100%;
        .img-heladas { box-shadow: 5px 5px 5px 5px rgb(243, 4, 4 , 00.700);
            height: 20%;
            width: 20%;
            border-radius: 10px;
            margin: 10px;
        }
    }
    #div-raleo { text-align: center;
        width: 100%;
        height: 100%;
        .img-raleo {
            box-shadow: $box-s;
            height: 20%;
            width: 20%;
            border-radius: 10px;
            margin: 10px;
        }
    }
    #img-poda { text-align: center;
        width: 100%;
        height: 100%;
        .img-poda {box-shadow: $box-s;
            width: 20%;
            height: 20%;
            border-radius: 10px;
            margin: 10px;

        }
    }
    #img-cosecha {text-align: center;
        width: 100%;
        height: 100%;
        .img-cosecha {
            box-shadow: $box-s;
            width: 20%;
            height: 20%;
            border-radius: 10px;
            margin: 10px;

        }
    }
    #img-otros-trabajos { text-align: center;
        width: 100%;
        height: 100%;
        .img-otros-trabajos {  
            box-shadow: $box-s;
            height: 20%;
            width: 20%;
            border-radius: 10px;
            margin: 10px;
        }
    }
}
#footer { height: 25vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #p-footer {
        margin-top: 30px;
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { font-size: 15px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    #div-logofooter {
        text-align: center;
        .logofooter { height: 40px;
            width: 40px;
            border-radius: 30px;
            margin-top: 10px;
        }
    }
    #redes-index {
        .imgredes { margin: 10px;
            height: 35px;
            width: 35px;
        }
    }
}
