#trabajos-main { display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    overflow-x: hidden;
    .h2-trabajos { text-align: center;
        font-size: 38px;
        font-family: $fuente-parrafos;
        color: #4F000B;
    }
    .p-trabajos {
        font-size: 16px;
        color: black;
        font-family: $fuente-parrafos;
        text-align: center;
    }
    #img-heladas {
        display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px ,1fr));
        gap: 16px;
        align-items: stretch;
       
        .img-helada {
            height: auto;
            width: 100%;
            box-shadow: $box-s;
            border-radius: 8px;
            object-fit: cover;
            transition: 0.5s ease;
            & :hover {
                height:  100px;

            }
        }
    }
    #div-raleo { display: grid;
            grid-template-columns: repeat(auto-fit,
            minmax(150px,  1fr));
            gap: 16px;
            align-items: center;
        .img-raleo {
            box-shadow: $box-s;
            height:auto;
            width:100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }
    #img-poda { display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px ,1fr));
        gap: 16px;
        align-items: stretch;
        .img-poda {box-shadow: $box-s;
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;

        }
    }
    #img-cosecha {display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px, 1fr));
        gap: 16px;
        align-items: stretch;
        .img-cosecha {
            box-shadow: $box-s;
            width: 100%;
            height: auto;
            border-radius: 8px;
            object-fit: cover;

        }

    }
    .otros-trabajo{
        text-align: center;
        font-family: $fuente-parrafos;
        color: #4F000B;
    }
    #img-otros-trabajos { display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(150px, 1fr));
        gap: 16px;
        align-items: stretch;
        .img-otros-trabajos {  
            box-shadow: $box-s;
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
        
    }
}
#footer { height: auto;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    #p-footer {
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { font-size: 13px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
    #div-logofooter {height: auto;
        text-align: center;
        .logofooter { height: 35px;
            width: 35px;
            border-radius: 8px;
            margin-top: 10px;
        }
    }
    #redes-index {height: auto;
        .imgredes { margin: 10px;
            height: 30px;
            width: 30px;
        }
    }
}
