@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$fuente-parrafos:'Montserrat', sans-serif; 
//color textos
$color-textos: #FF9B54;
//color botones
$color-botones: #e2efdeff;
//color body
$color-body: #afd0bfff;
$fuente-titulos:'Rajdhani', sans-serif;
$box-s: 5px 5px 5px 5px rgba(0, 0, 0, 0.218);


