@mixin flexbox ($direction, $wrap, $justify, $aling){
    display: flex;
    flex-direction:$direction ;
    flex-wrap: $wrap;
    justify-content:$justify ;
    align-items:$aling ;
}
@mixin grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap:16px;
    justify-items: center;
    align-items: stretch;
}
@mixin img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
@mixin img-index {
    width: 0;
    height: 330px;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.5s ease;
    &:hover {
        width: 150px;
    }
}
@mixin div-img {
    display: flex;
    height: 330px;
    width: auto;
}
