.main-contacto {height: auto;
    display: grid;
    grid-template-areas:
    "aside form"
    "aside form"
    ". ."
    ". .";
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: $color-body;
    .aside-form {
       grid-area: aside;
       padding: 20px;
       .logos-contacto {
        height: 50px;
        width: 50px;
       }
       a {
        text-decoration: none;
        color: black;
    }
       
        
    }
    #formulario { height: auto;
        grid-area: form;
        @include flexbox (column,wrap,center,flex-start);
        .caja-nombre { font-size: 15px;
            font-family: $fuente-parrafos;
        }
        .caja-mail { font-size: 15px;
            font-family: $fuente-parrafos;
        }
        .caja-mensaje { 
            font-size: 15px;
            font-family: $fuente-parrafos;
        }
        .div-btn-envia {
            text-align: center;
            .btn-envia1 { background-color: rgba(0, 0, 0, 0.048);
                color:black;
            }
        }
    }
}
