#footer { height: 23vh;
    background-image: url(../assets/imagenes/encabezado\ header.jpeg);
    background-size: cover;
    background-position: 0,2vh;
   display: grid;
   grid-template-areas: 
   "redes . ."
   ". . logo"
   ". texto .";
    #p-footer { grid-area: texto;
        height: 5vh;
        border-radius: 8px;
        .p-index-footer { 
            font-size: 13px;
            font-family: $fuente-parrafos;
            color: $color-textos;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
    #div-logofooter { height: auto;
       text-align: center;
       grid-area: logo;
        #logofooter { 
            height: 35px;
            width: 35px;
            border-radius: 8px;
            margin-top: 10px;
        }
    }
    #redes-index {
        grid-area: redes;
        height: 50px;
        
        #imgredes {
            margin: 10px;
            height: 30px;
            width: 30px;
        }
    }
}
